TT_USERNAME="<your TT_USERNAME here>"
TT_PASSWORD="<your TT_PASSWORD here>"
API_BASE_URL="<your API_BASE_URL here>"
TT_SECRET="<your TT_SECRET here>"
TT_CLIENT_ID="<your TT_CLIENT_ID here>"
TT_REFRESH="<your TT_REFRESH here>"
